<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>All results</title>
</head>
<body>

<div layout:fragment="content">

    <table class="table">
        <thead>
        <tr>
            <th>Вопрос</th>
            <th>Сложность</th>
            <th>Выбор из</th>
            <th>Кол-во правильных ответов</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qs : ${questionsStats}">
            <td th:text="${qs.question.text}"></td>
            <td th:text="${qs.question.score}"></td>
            <td th:text="${qs.numOptions}"></td>
            <td th:text="${qs.numCorrectOptions}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/managedb/question/{id}(id=${qs.question.id})}">Отредактировать</a>
                <a class="btn btn-danger" th:href="@{/managedb/question/{id}/delete(id=${qs.question.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>