<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Login To Quiz Application</title>

    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<div layout:fragment="content">
    <!--<div class="jumbotron">-->
        <!--<h1>Login</h1>-->
    <!--</div>-->
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <section id="content">
            <div th:if="${param.error}" style="color: red">
                Неправильный логин или пароль.
            </div>
            <div th:if="${param.logout}">
                Вы вышли из аккаунта.
            </div>
            <form th:action="@{/login}" method="post">
                <h1><Вход></Вход></h1>
                <div>
                    <input type="text" name="username" placeholder="Логин" required="required" id="username"
                           autofocus="true"/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Пароль" required="required" id="password"/>
                </div>
                <div>
                    <input type="submit" value="Войти"/>

                    <a th:href="@{/register}">Регистрация</a>
                </div>
            </form>
        </section>
    </div>
    <div class="col-sm-4"></div>

</div>


</body>
</html>