<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Edit Questions</title>
</head>
<body>

<!--/*@thymesVar id="domain" type="com.entities.Domain"*/-->
<div layout:fragment="content">
    <!--<div class="jumbotron">-->
        <!--<h1>Edit Questions</h1>-->
    <!--</div>-->

    <ol class="breadcrumb">
        <li><a th:href="@{/managedb}">Domains</a></li>
        <li class="active" th:text="${domain.name}">Domain</li>
    </ol>

    <table class="table">
        <thead>
        <tr>
            <th>Вопрос</th>
            <th>Сложность</th>
            <th>Выбор из</th>
            <th>Кол-во правильных ответов</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="questionsStats" type="List<com.dtos.QuestionStatsDTO>"*/-->
        <!--/*@thymesVar id="qs" type="com.dtos.QuestionStatsDTO"*/-->
        <tr th:each="qs : ${questionsStats}">
            <td th:text="${qs.question.text}"></td>
            <td th:text="${qs.question.score}"></td>
            <td th:text="${qs.numOptions}"></td>
            <td th:text="${qs.numCorrectOptions}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/managedb/question/{id}(id=${qs.question.id})}">Отредактировать</a>
                <a class="btn btn-danger" th:href="@{/managedb/question/{id}/delete(id=${qs.question.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form class="form-inline" method="post" th:action="@{/managedb/domain/{id}/add_question(id=${domain.id})}">
        <input class="form-control" type="text" title="Question name" name="text"/>
        <div class="form-group">
            <label for="score">Score</label>
            <input class="form-control" type="number" min="1" max="5" title="Score" id="score" name="score"/>
        </div>
        <button type="submit" class="btn btn-primary">Добавить новый вопрос</button>
    </form>
</div>
</body>
</html>