<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Регистрация завершена</title>
</head>
<body>

<div layout:fragment="content">
    <br/>
    <h3>Регистрация завершена успешно!</h3>

    <a th:href="@{/login}" class="btn btn-info" role="button">Логин</a>
    <hr/>
    <p><a th:href="@{/index}">Нажмите, чтобы вернуться назад</a></p>
</div>


</body>
</html>